:root {
    --primary-color: #32d66d;
    /* --primary-color: #32d66d; */
    --secondary-color: #282c34;
    --secondary-color-light: #2e2e2e;
    --secondary-color-lighter: #393939;
    --secondary-color-lighterer: #505050;
    --default-background-color: rgb(27, 27, 27);
    --default-text-color: #eaeaea;
}

.green-button-outline {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    background-color: transparent;
    filter: drop-shadow(5px 5px 10px black);
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    /* min-width: 100px; */
}

.green-button-outline:hover {
    background-color: rgb(50, 214, 109, 0.04) !important;
}

.green-button-outline * {
    margin-right: 3px;
}

.white-button-outline {
    border-color: var(--default-text-color) !important;
    color: var(--default-text-color) !important;
    background-color: transparent;
    filter: drop-shadow(5px 5px 10px black);
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    min-width: 100px;
}

.green-button-outline:hover {
    background-color: rgba(207, 207, 207, 0.04) !important;
}





.page-content {
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    padding: 20px 20px 40px 20px;
}

.white-textview label,
.email-field label:focus {
    color: var(--default-text-color) !important;
}

.white-textview input {
    color: var(--default-text-color) !important;
}

.white-textview fieldset,
.email-field fieldset:hover {
    border-color: var(--default-text-color) !important;
}

.white-textview input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--default-text-color) !important;
    caret-color: var(--default-text-color);
}

.white-select {
    color: var(--default-text-color) !important;
    /* border: 1px solid var(--default-text-color) !important; */
}

.white-select fieldset {
    border: 1px solid var(--default-text-color) !important;
}

.white-select svg {
    fill: var(--default-text-color) !important;
}

.white-select-label {
    color: var(--default-text-color) !important;
    /* border: 1px solid var(--default-text-color) !important; */
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    /* box-shadow: 0px 0px 5px rgb(27, 27, 27, 0.5); */
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--secondary-color-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color-lighter);
    ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color-lighterer);
}